/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    font-family: 'OpenSans', sans-serif;
}

/* utiliy */
img{
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
}

.jf-sb{
    justify-content: space-between;
}

.w-80{
    width: 80%;
    margin: 0 auto;
}

/* header */
header{

}

nav{
    background-color: rgb(238, 113, 46);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
    z-index: 999999;
}

#logo{
    max-width: 120px;
    padding: 15px 0;
    margin: 0 auto;
}

li > a, a > i{
    color: white;
}

li > a{
    margin-right: 5px;
}

.profile{
    align-items: center;
}

.profile > a{
    margin-left: 2.5px;
}

/* main */

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.onetwothree{
    margin-top: 70px;
}

.fourfivesix{
    margin-top: 30px;
    margin-bottom: 30px;
}

.w-100{
    width: 100%;
}

.card-size{
    width: 32.5%;
}

/* footer */
footer, span > a{
    color: white;
}
.black{
    background-color: rgb(26, 26, 26);
    padding: 2% 0;
}
